{
  "project_info": {
    "project_number": "123456789000",
    "project_id": "joonapay-wallet",
    "storage_bucket": "joonapay-wallet.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:123456789000:android:abcdef1234567890",
        "android_client_info": {
          "package_name": "com.joonapay.wallet"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "YOUR_ANDROID_API_KEY_HERE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
